
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');
/* PART-1 */
/* SLIDER */
.slider-container{
    position: relative;
}
.slider{
    height: 95vh;
    position: relative;
    overflow: hidden;
    color:  white;
    margin: auto;
    max-height: 1000px;
}
.slider .slide-item{
    height: 100%;
}
.slider .slide-item .item{
    height: 100%;
    display: none;

}
.slider .slide-item .item.active{
    display: flex;
}

.slider .slide-item .item .img{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    animation: zoom 1s linear forwards;

    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
}
@keyframes zoom{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}

.slider .slide-item .item .caption{
    position: relative;
    margin: auto;
    flex-grow: 1;
    padding: 10%;  
}

.slider .slide-item .item .caption .text .h1{
    margin: 0;
    font-size: 3.5em;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    animation: text 1s ease forwards;
    text-shadow: -5px 6px 4px rgb(19 19 19);
    font-family: 'Montserrat', sans-serif;
}
.slider .slide-item .item .caption .text .typewriter{
    width: 80%;
    font-size: 2.1em;
    animation: text 1s ease forwards;
    animation-delay: .5s;
    opacity: 1;
    padding: 0 10px;
    margin: 15px 0;
    background: white;
}
.typewriter .p {
    box-sizing: border-box;
    display: table-caption;
    color: black;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(0, 0, 0); }
  }

/* @keyframes text{
    0%{
        opacity: 0;
        transform: translate(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
} */

.slider .controls .prev,
.slider .controls .next{
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: rgb(21 21 21 / 45%);
    z-index: 1;
    bottom: 0;
    margin-bottom: 20px;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
    transition: background-color .5s ease;
}

.slider .controls .prev:hover,
.slider .controls .next:hover{
    background-color: rgb(128 128 128 / 64%);
}

.slider .controls .prev{
    right: 100px;
}
.slider .controls .next{
    right: 30px;
}


@keyframes progress{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

/** --end slider*/

/*** END PART-1 ****/


/** PART-2  **/
.dp-cont-pt2-img{
  background:url('https://i.pinimg.com/originals/b6/d2/26/b6d22674b04d3141b7be951d862619e8.png');
  background-size:cover;
  width: 180px;
  margin: auto;
  height: 180px;
  background-blend-mode: darken;
}
.dp-cont-color-bland{
    height: 60vh;
    color: rgb(68, 68, 68);
    font-size: 1.2em;
    text-align: left;
    font-weight: 300;
}
/** END PART-2  */

/** PART-3*/
.d-block{
  height:50vh;
  width:100%;
  background:#ebebeb;
}
 .cont-text{
   width: 100%;
   height: 100%;
   padding: 2% 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #00106e;
    color: white;
    transition: background-color .4s ease-in;
    border-radius: 10px;
}
.cont-text:hover{
  background-color: #012c587c;
  color:black;
}
    /* glider */


.dp-cont-pt2{
    overflow-x:hidden;
    }
    .cont-pt2-block{
    overflow-x:hidden;
    display:block;
    }
    .dp-cont-pt2 .cont-pt2-block .dp-block{
    position:relative;
    height:60vh;
    width:10%;
    background-image:url('https://media.istockphoto.com/photos/productivity-powered-by-digital-technology-picture-id1330965067?b=1&k=20&m=1330965067&s=612x612&w=0&h=1_kB_WA_FhZ6Ii4yKSa4358J3HnqCXf2ICJNOxUrOjY=');
    margin: 0 10px;
    }
    .dp-cont-pt2 .dp-block p{
    position:absolute;
    bottom:0;
    background:#F4F4F4;
    padding: 0.7em;
    font-size:1.2em;
    font-weight:600;
    }
    
    
/* --- --- CAROUSEL --- --- */
.carousel-container {
    position: relative;
}
.carousel-btn-before,
.carousel-btn-after {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: black;
    opacity: 50%;
}
.carousel-btn-before i,
.carousel-btn-after i{
    font-size:2em;
}

.carousel-btn-before:hover,
.carousel-btn-after:hover {
    opacity: 100%;
}

.carousel-btn-before {
    left: -30px;
}

.carousel-btn-after {
    right: -30px;
}

.carousel-block-items {
    overflow: hidden;
}

.carousel__elemento {
    height: 70vh !important;
    text-align: center;
    margin: 0 10px;
    background: rgba(0,0,0,0.5);
    background-blend-mode:darken;
    background-size:cover;
    cursor:pointer;
}

.carousel__elemento:hover{
background-blend-mode:normal;
}
.carousel__elemento p{
    position:absolute;
bottom:0;
background:#F4F4F4;
padding: 0.7em;
font-size:1.2em;
font-weight:600;
}

.carousel__indicadores .glider-dot {
    display: block;
    width: 30px;
    height: 4px;
    background: black;
    opacity: .2;
    border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
    opacity: .5;
}

.carousel__indicadores .glider-dot.active {
    opacity: 1;
}

/** END PART-3 */

.dp-phrase{
    height: 40vh;
    background: url('https://us.123rf.com/450wm/rastudio/rastudio1604/rastudio160406624/55076297-cohete-mano-dibujada-en-tiza-vector-icono-aislado-para-web-m%C3%B3vil-e-infograf%C3%ADa-.jpg?ver=6') , rgb(7 11 20 / 86%);
    background-size: contain; 
    background-blend-mode: darken;
    background-attachment: fixed;
}
.dp-cont-full{
    align-self: center;
    color: white;
    font-weight: 700;
}

/** PART-4 **/  
.c-slider {
	 background: #f7f7f7;
	 box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	 height: 100px;
	 margin: auto;
	 overflow: hidden;
	 position: relative;
	 width: 960px;
}
 .c-slider::before, .slider::after {
	 background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
	 content: "";
	 height: 100px;
	 position: absolute;
	 width: 200px;
	 z-index: 2;
}
 .c-slider::after {
	 right: 0;
	 top: 0;
	 transform: rotateZ(180deg);
}
 .c-slider::before {
	 left: 0;
	 top: 0;
}
 .c-slider .slide-track {
	 animation: scroll 40s linear infinite;
	 display: flex;
	 width: calc(250px * 14);
}
 .c-slider .slide {
	 height: 100px;
	 width: 250px;
}
@keyframes scroll {
	 0% {
		 transform: translateX(0);
	}
	 100% {
		 transform: translateX(calc(-250px * 7));
	}
}
/** END PART-4 **/
.dp-cont-phrase{
    background: #f7f7f7;
}
.dp-cont-phrase .p{
    padding: 50px 0;
    font-size: 1.4em;
    color: #696969;
}

.db-bg-pt-5{
   height: 65vh;
}
.db-bg-pt-5 .text-cont{
    height: 100%;
    text-align: left;
    display: flex;
    align-self: center;
    color: white;
}
.db-bg-pt-5 .text-cont.cont-1{
    background: url('https://us.123rf.com/450wm/rastudio/rastudio1604/rastudio160406624/55076297-cohete-mano-dibujada-en-tiza-vector-icono-aislado-para-web-m%C3%B3vil-e-infograf%C3%ADa-.jpg?ver=6'), rgb(7 11 20 / 86%);
    background-size: contain;
    background-attachment: fixed;
    background-blend-mode: darken;
    background-attachment: fixed;
    /* background: #0e1119; */
}
.db-bg-pt-5 .text-cont.cont-2{
    background: linear-gradient(to bottom, rgb(0 0 0) 0%, rgb(1, 23, 49) 85%, #f7f7f7 50%, #f7f7f7 100%);

}
.db-bg-pt-5 .p{
    width: 80%;
    font-size: 1.1em;
}
.db-bg-pt-5 .db-bg{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.db-bg-pt-5 .db-bg.bg-pt1{
    background: url('https://media.istockphoto.com/photos/fountain-pen-signature-picture-id485827074?k=20&m=485827074&s=612x612&w=0&h=3E1wvSupDtQMuwHn2beoOvYhUhm2z9KjGKgkeaMoG14='), rgb(14 17 25 / 52%);
    background-size: cover;
    background-blend-mode: darken;
}
.db-bg-pt-5 .db-bg.bg-pt2{
    background:url('https://media.istockphoto.com/photos/constructing-a-new-software-design-picture-id1010593510?k=20&m=1010593510&s=612x612&w=0&h=ZiauGxbYnIUEBeEG8goUfEbH4Al3HRpLyYoaZpLVIyc='),rgb(14 17 25 / 31%);
    background-size: cover;
    background-blend-mode: darken;
}
.db-bg-pt-5 p{
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
    color: white;
    
}
.dp-cont-pt6{
    background-color: rgb(247, 247, 247);
}

.dp-cont-pt6 .container .row{
    flex-wrap: wrap;
}
.dp-cont-pt6 .dp-block{
    position: relative;
    height: 50vh;
    width: 40vh;
    margin: 0px 5px;
    padding: 0px 0px;
}
.dp-cont-pt6 .dp-block:hover{
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0px 0px 20px 0px #00000080;
}
.dp-cont-pt6 .dp-block img{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    padding: 5px;
    background: white;
}
.dp-cont-pt6 .dp-block .content-text{
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dp-cont-pt6 .dp-block p{
    font-weight: 100;
    font-size: 0.85em;
    padding: 0 10px;
    margin: 10px 0;
}
  /* imagehover */
[class^="imghvr-"], 
[class*=" imghvr-"] {
    background-color: rgba(0, 0, 0, 0.212) !important;
}
[class^="imghvr-"] figcaption, 
[class*=" imghvr-"] figcaption {
    background-color: #2947621e !important;
}
[class^="imghvr-reveal-"]:before, 
[class*=" imghvr-reveal-"]:before {
    background-color: rgb(33 34 35 / 94%) !important;
}
.dp-cont-pt6 .dp-block .text-sm{
    font-size: 0.6em;
    font-weight: normal;
    color: rgb(rgb(152 151 151));
}

.dp-cont-pt7 .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dp-cont-pt7 img{
    height: 100px;
    width: 150px;
    object-fit: cover;
   opacity: 0.5;
}

@media (max-width: 600px) {
    
    /* SLIDER */
    .slider {
        height: 90vh !important;
    }
    .slider .slide-item .item .caption {
        padding: 0px 20px;
    }
    .typewriter .p {
        display: flex !important;
        white-space: initial !important;
    }
    /* END SLIDER */

    .dp-cont-color-bland > div {
        margin: auto !important;
    }

    .carousel__elemento {
        height: 40vh !important;
    }

    .db-bg-pt-5{
        height: 40vh !important;
    }

    .dp-cont-pt6 .dp-block {
        height: 35vh;
        width: 30vh;
        margin: 20px auto;
        padding: 0px 0px;
    }
    /* .dp-cont-pt6 {
        overflow-x: hidden;
    }
    .dp-cont-pt6  .container{
        overflow-x: hidden;
    } */
}